{% extends 'base.html' %}
{% load static %}

{% block title %}Travel Support Services{% endblock %}

{% block content %}
     <!-- MORE SERVICES  START-->
     <div class="more_services container"> 
        <div id="Travel-Support-Services">
            <h5 class="ps-4">Travel Support Services</h5>
            <div class="row container-fluid mx-auto">
                {% for x in travel_support_ervices %}
                <div class="col-sm-3">
                    <div class="p-1">
                        <a href="{{x.image.url}}">
                            <img style="border-radius: 20px; box-shadow: 4px 4px 8px black;" src="{{x.image.url}}" alt="" width="100%">
                        </a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div> 
    </div>

<!-- MORE SERVICES  END-->
    
{% endblock %}